html,body {
    height: 100%;
}

.slick-slider {
    z-index: 90;
}

.slick-slider,
.slick-list,
.slick-track {
    height: 100%;
}
.item--1 {
    background: url(../img/slide-1.jpg) no-repeat center !important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.item--2 {
    background: url(../img/slide-2.jpg) no-repeat center !important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.item--3 {
    background: url(../img/slide-3.jpg) no-repeat center !important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.item--4 {
    background: url(../img/slide-4.jpg) no-repeat center !important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.item {
     height: 100%;
}

.title {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    text-shadow: 2px 2px #000;
    color: #FFF;
}