html,body {
    height: 100%;
}

.dots-names {
    position: absolute;
    width: 690px;
    z-index: 100;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
}


.dots-names span {
    position: absolute;
    font-family: 'Univers LT Std';
    font-size: 0.9rem;
    font-weight: bold;
    line-height: 1.6rem;
    padding: .75rem 0; 
    letter-spacing: -1px;
    color: #fff;
}

@media (max-width: 768px) {
    .dots-names {
        width: 262px;
    }

    .dots-names span {
        0.5rem;
    }
}
.dots-names span:nth-child(1) {
    left: 55px;
}

.dots-names span:nth-child(2) {
    left: 220px;
}
.dots-names span:nth-child(3) {
    left: 390px;
}
.dots-names span:nth-child(4) {
    left: 540px;
}

@media (max-width: 768px) {
    .dots-names {
        width: 330px;
    }

    .dots-names span {
        font-size: 0.5rem;
        text-transform: uppercase;
    }

    .dots-names span:nth-child(1) {
        left: 51px;
    }

    .dots-names span:nth-child(2) {
        left: 97px;
    }
    .dots-names span:nth-child(3) {
        left: 156px;
    }
    .dots-names span:nth-child(4) {
        left: 220px;
    }
}

.slick-slider {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.slick-dots {
    width: 575px !important;
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    bottom: auto;
    z-index: 1000;
    
}

@media (max-width: 768px) {
    .slick-dots {
        width: 262px !important;
    }
}
    .slick-dots:before {
        content: "";
        height: 10px;
        background: repeating-linear-gradient(-90deg, transparent, transparent 5px, white 7px, white 6px);
        position: absolute;
        top: 8px;
        left: 30px;
        right: 30px;
        z-index: -1;
    }

    .slick-dots:after {
        content: "";
        height: 1px;
        background: white;
        position: absolute;
        top: 13px;
        left: 30px;
        right: 30px;
        z-index:-2;
        transition: 0s linear;
    }

.slick-dots li {
    position: relative;
}

.slick-dots li:not(:last-child):after {
    content: "";
    position: absolute;
    top: 5px;
    left: 14px;
    right: 15px;
    z-index: -1;
    width: 0px;
    height: 10px;
    background: rgba(255, 0, 0, 0.3);
    transition: 0s linear;
}



.slick-dots li:not(:last-child):before {
    width: 0;
    content: "";
    height: 1px;
    background: red;
    position: absolute;
    top: 10px;
    left: 14px;
    right: 15px;
    z-index: -2;
    transition: 0s linear;
}


.slick-dots li.in-progress:not(:last-child):before {
    width: 175px;
    z-index: 0;
    transition: 5s linear;
}


.slick-dots li.in-progress:not(:last-child):after {
    width: 175px;
    z-index: 0;
     transition: 5s linear;
}

@media (max-width: 768px) {
    .slick-dots li.in-progress:not(:last-child):before,
    .slick-dots li.in-progress:not(:last-child):after {
        width: 60px;
    }
}
.slick-dots li:not(:last-child) {
    margin-right: 150px;
}

@media (max-width: 768px) {
    .slick-dots li:not(:last-child) {
        margin-right: 40px;
    }
}


.slick-dots li button {
    border: 1px solid #fff;
    border-radius: 50%;
    margin-right: 100px;
}

.slick-dots li button:before {
    font-size: 14px;
    color: #fff !important;
    line-height: 23px !important;
    opacity: 1 !important;
}

.slick-dots li.in-progress button {
     border: 1px solid red !important;
}

.slick-dots li.in-progress button:before {
     color: red !important;
}



.slick-slider,
.slick-list,
.slick-track {
    height: 100%;
}
.item--1 {
    background: url(../img/slide-1.jpg) no-repeat center !important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.item--2 {
    background: url(../img/slide-2.jpg) no-repeat center !important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.item--3 {
    background: url(../img/slide-3.jpg) no-repeat center !important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.item--4 {
    background: url(../img/slide-4.jpg) no-repeat center !important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.item {
     height: 100%;
}

.title {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    text-shadow: 2px 2px #000;
    color: #FFF;
}

.slick-slider-info {
    position: absolute;
    z-index: 100;
    left: 50%;
    transform: translateX(-50%);
}

.slick-slider-info svg {
    fill: #fff;
    color: #fff;
    width: 600px;
    height: 150px;
}


.slick-slider-info circle,
.slick-slider-info path {
    fill: currentColor;
    stroke: currentColor;
}