@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
}

.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Slider */
.slick-loading .slick-list {
  background: #fff url("../img/ajax-loader.gif") center center no-repeat;
}

/* Icons */
@font-face {
  font-family: "slick";
  src: url("../fonts/slick.eot");
  src: url("../fonts/slick.eot?#iefix") format("embedded-opentype"), url("../fonts/slick.woff") format("woff"), url("../fonts/slick.ttf") format("truetype"), url("../fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}

.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}

.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}

.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}

[dir="rtl"] .slick-prev {
  left: auto;
  right: -25px;
}

.slick-prev:before {
  content: "←";
}

[dir="rtl"] .slick-prev:before {
  content: "→";
}

.slick-next {
  right: -25px;
}

[dir="rtl"] .slick-next {
  left: -25px;
  right: auto;
}

.slick-next:before {
  content: "→";
}

[dir="rtl"] .slick-next:before {
  content: "←";
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}

.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}

.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}

.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75;
}

.container {
  box-sizing: border-box;
  margin: 0 auto;
  width: 960px;
  max-width: 100%;
}

.container--fluid {
  width: 100%;
}

.row {
  font-size: 0;
}

.col-1 {
  box-sizing: border-box;
  font-size: 1rem;
  display: inline-block;
  vertical-align: top;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 8.33333%;
}

.col-2 {
  box-sizing: border-box;
  font-size: 1rem;
  display: inline-block;
  vertical-align: top;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 16.66667%;
}

.col-3 {
  box-sizing: border-box;
  font-size: 1rem;
  display: inline-block;
  vertical-align: top;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 25%;
}

.col-4 {
  box-sizing: border-box;
  font-size: 1rem;
  display: inline-block;
  vertical-align: top;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 33.33333%;
}

.col-5 {
  box-sizing: border-box;
  font-size: 1rem;
  display: inline-block;
  vertical-align: top;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 41.66667%;
}

.col-6 {
  box-sizing: border-box;
  font-size: 1rem;
  display: inline-block;
  vertical-align: top;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 50%;
}

.col-7 {
  box-sizing: border-box;
  font-size: 1rem;
  display: inline-block;
  vertical-align: top;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 58.33333%;
}

.col-8 {
  box-sizing: border-box;
  font-size: 1rem;
  display: inline-block;
  vertical-align: top;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 66.66667%;
}

.col-9 {
  box-sizing: border-box;
  font-size: 1rem;
  display: inline-block;
  vertical-align: top;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 75%;
}

.col-10 {
  box-sizing: border-box;
  font-size: 1rem;
  display: inline-block;
  vertical-align: top;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 83.33333%;
}

.col-11 {
  box-sizing: border-box;
  font-size: 1rem;
  display: inline-block;
  vertical-align: top;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 91.66667%;
}

.col-12 {
  box-sizing: border-box;
  font-size: 1rem;
  display: inline-block;
  vertical-align: top;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
}

@media screen and (max-width: 480px) {
  .col-1 {
    width: 100%;
  }
  .col-2 {
    width: 100%;
  }
  .col-3 {
    width: 100%;
  }
  .col-4 {
    width: 100%;
  }
  .col-5 {
    width: 100%;
  }
  .col-6 {
    width: 100%;
  }
  .col-7 {
    width: 100%;
  }
  .col-8 {
    width: 100%;
  }
  .col-9 {
    width: 100%;
  }
  .col-10 {
    width: 100%;
  }
  .col-11 {
    width: 100%;
  }
  .col-12 {
    width: 100%;
  }
}

@font-face {
  font-family: 'Sorren';
  src: url("../fonts/Sorren-Medium.eot");
  src: url("../fonts/Sorren-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Sorren-Medium.woff2") format("woff2"), url("../fonts/Sorren-Medium.woff") format("woff"), url("../fonts/Sorren-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Univers LT Std';
  src: url("../fonts/UniversLTStd.eot");
  src: url("../fonts/UniversLTStd.eot?#iefix") format("embedded-opentype"), url("../fonts/UniversLTStd.woff2") format("woff2"), url("../fonts/UniversLTStd.woff") format("woff"), url("../fonts/UniversLTStd.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Univers LT Std';
  src: url("../fonts/UniversLTStd-BoldEx.eot");
  src: url("../fonts/UniversLTStd-BoldEx.eot?#iefix") format("embedded-opentype"), url("../fonts/UniversLTStd-BoldEx.woff2") format("woff2"), url("../fonts/UniversLTStd-BoldEx.woff") format("woff"), url("../fonts/UniversLTStd-BoldEx.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Circular Std';
  src: url("../fonts/CircularStd-Black.eot");
  src: url("../fonts/CircularStd-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/CircularStd-Black.woff2") format("woff2"), url("../fonts/CircularStd-Black.woff") format("woff"), url("../fonts/CircularStd-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

body {
  background: #dedede;
  font-size: 16px;
  min-height: 100vh;
  position: relative;
}

.header {
  height: 80px;
  z-index: 30;
  position: relative;
}

.header > div[class^="col"] {
  height: 100%;
}

.hamburger {
  cursor: pointer;
  height: 1.250rem;
  position: relative;
  top: 2rem;
  left: 0;
  width: 2rem;
}

.hamburger__line {
  background-color: white;
  height: 0.125rem;
  position: absolute;
  transition: all 320ms ease-in;
  width: 100%;
}

.hamburger__line:first-child {
  top: 0%;
}

.hamburger__line:nth-child(2) {
  top: 50%;
}

.hamburger__line:nth-child(3) {
  top: 100%;
}

.hamburger--active .hamburger__line:first-child {
  transform: translateY(0.5em) translateX(0) rotate(135deg);
}

.hamburger--active .hamburger__line:nth-child(2) {
  opacity: 0;
}

.hamburger--active .hamburger__line:nth-child(3) {
  transform: translateY(-0.75em) translateX(0) rotate(-135deg);
}

.hamburger__text {
  position: absolute;
  top: 2rem;
  left: -4px;
  color: white;
  font-family: 'Univers LT Std';
}

.slide-bar {
  width: 85%;
  transform: translateX(-50%);
  position: relative;
  top: -3rem;
  left: 58%;
}

.sub-page {
  background-image: url(../img/bg_blur.jpg);
  background-position: center center;
  background-size: cover;
  display: none;
  padding-top: 80px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.sub-page__header {
  color: white;
  display: none;
  font-family: 'Univers LT Std';
  font-size: .95rem;
  line-height: 80px;
  position: relative;
}

.sub-page__header:after {
  content: "";
  display: block;
  border-bottom: 1px solid white;
  width: 60px;
  position: absolute;
  bottom: 20px;
}

.sub-page__header-2 {
  font-family: 'Univers LT Std';
  font-size: 1.4rem;
  line-height: 1.6rem;
  color: white;
  margin-bottom: 1.375rem;
}

.sub-page__paragraph {
  color: white;
  font-family: 'Univers LT Std';
  font-size: .75rem;
  line-height: 1.2rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.sub-page__paragraph--teaser {
  font-size: .95rem;
  line-height: 1.45rem;
  text-align: center;
  margin-left: 5.6rem;
  margin-right: 5.6rem;
}

.sub-page__paragraph__link {
  color: red;
  text-decoration: none;
}

.sub-page__separator {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 35%;
}

.sub-page__map-img {
  display: block;
  margin: 1.75rem auto 0 auto;
  width: 100%;
  height: auto;
}

.main-menu-wrap {
  position: relative;
  height: calc( 100vh - 80px);
<<<<<<< HEAD
=======
  z-index: 5;
>>>>>>> slider-indicator
}

.main-menu {
  font-family: 'Sorren';
  letter-spacing: 10px;
}

.main-menu__link {
  font-size: 3rem;
  text-decoration: none;
  color: white;
  transition: none;
}

.main-menu--active {
  color: red;
}

.download-app {
  position: absolute;
  bottom: 10%;
}

.download-app__title {
  font-family: 'Univers LT Std';
  color: white;
  font-size: 1.4rem;
  line-height: 1.6rem;
  margin-top: 1rem;
  margin-bottom: .500rem;
}

.download-app__link {
  display: inline-block;
  font-family: 'Univers LT Std';
  line-height: .95rem;
  text-decoration: none;
  margin-right: .5rem;
}

.download-app__link:hover > span {
  color: red;
}

.download-app__link > span {
  color: white;
  font-size: .75rem;
  display: inline-block;
  vertical-align: middle;
}

.download-app__img {
  vertical-align: middle;
  margin-right: .5rem;
}

.download-app__info-link {
  font-family: 'Univers LT Std';
  line-height: .75rem;
  color: red;
}

.download-app li:last-child {
  margin-top: .75rem;
}

.accordion-toggle {
  border-top: 1px solid white;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  font-family: 'Univers LT Std';
  font-size: 0.95rem;
  padding: .875rem 0;
}

.accordion-toggle:after {
  content: '';
  clear: both;
  display: table;
}

.accordion-content {
  border-bottom: 1px solid white;
  display: none;
  font-family: 'Univers LT Std';
}

.accordion-content__paragraph {
  color: white;
  font-size: .7rem;
  line-height: 1.2rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.accordion-content__paragraph__link {
  color: red;
  text-decoration: none;
}

.accordion-list {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.accordion-item {
  color: white;
  font-size: .7rem;
  line-height: 1.2rem;
  margin-top: .75rem;
  margin-bottom: .75rem;
}

.accordion-content.default {
  display: block;
}

.accordion__question {
  display: inline-block;
  width: 80%;
}

.accordion__img {
  float: right;
}

<<<<<<< HEAD
.arrow {
  margin-left: 9px;
  float: right;
}

.arrowUp:before {
  font-family: FontAwesome;
  content: url(../img/accordion-close.png);
}

.arrowDown:before {
  font-family: FontAwesome;
  content: url(../img/accordion-open.png);
}

::-webkit-input-placeholder {
  color: white;
  font-family: 'Univers LT Std';
}

:-ms-input-placeholder {
  color: white;
  font-family: 'Univers LT Std';
}

=======
>>>>>>> slider-indicator
::placeholder {
  color: white;
  font-family: 'Univers LT Std';
}

.contact-form {
  display: block;
  width: 100%;
}

.form-group-f {
  font-size: 0;
  margin-top: .750rem;
  width: 100%;
}

.form-group-f:after {
  content: '';
  clear: both;
  display: table;
}

.label-block, .label-inline {
  display: block;
  color: white;
  font-family: 'Univers LT Std';
  font-size: .75rem;
  margin-bottom: 10px;
}

.label-inline {
  display: inline;
  margin-right: .500rem;
}

.input-text {
  background-color: transparent;
  border: 1px solid transparent;
  border-bottom: 1px solid white;
  box-sizing: border-box;
  color: white;
  display: block;
  font-family: 'Univers LT Std';
  font-size: .75rem;
  padding-bottom: 10px;
  width: 100%;
}

.input-radio {
  vertical-align: bottom;
  margin-right: .250rem;
}

.input-textarea {
  background-color: transparent;
  border: 1px solid white;
  border-radius: .500rem !important;
  box-sizing: border-box;
  color: white;
  display: block;
  font-family: 'Univers LT Std';
  font-size: .75rem;
  height: 9rem;
  width: 100%;
}

.btn-f {
  background-color: white;
  border: 1px solid transparent;
  border-radius: .5rem;
<<<<<<< HEAD
  -webkit-box-sizing: border-box;
=======
>>>>>>> slider-indicator
  box-sizing: border-box;
  color: magenta;
  cursor: pointer;
  display: inline-block;
  font-size: .95rem;
  font-family: 'Univers LT Std';
  padding: 5px 25px;
<<<<<<< HEAD
  -webkit-transition: all 280ms ease-in;
=======
>>>>>>> slider-indicator
  transition: all 280ms ease-in;
}

.btn-f:focus, .btn-f:hover {
  background-color: transparent;
  border: 1px solid white;
}

.submit-info {
  color: white;
  font-family: 'Univers LT Std';
  font-size: .75rem;
  float: right;
}

.modal-f {
  background-color: rgba(0, 0, 0, 0.7);
  box-sizing: border-box;
  display: block;
  font-family: 'Univers LT Std';
  padding: 2rem 2rem;
  transform: translate(-50%, -50%);
  width: 450px;
  text-align: center;
  z-index: 6000;
  position: fixed;
  top: 50%;
  left: 50%;
}

.modal-f__header {
  border-top: 1px solid red;
  border-bottom: 1px solid red;
  color: red;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.6rem;
  text-align: center;
  padding: .75rem 0;
}

.modal-f__paragraph {
  color: white;
  font-size: 1rem;
  line-height: 1.4rem;
  padding: 1rem 0;
}

.modal-f__paragraph--link {
  padding: 1.5rem 0;
}

.modal-f__link {
  color: white;
  text-decoration: underline;
  transition: none;
  font-size: 1.2rem;
}

.modal-f__link:focus, .modal-f__link:hover {
  color: white;
}

.newsletter-form-group {
  font-size: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.newsletter__input {
  flex: 1;
  box-sizing: border-box;
  border: 1px solid white;
  background: transparent;
  font-size: 1rem;
  color: red;
  height: 36px;
  vertical-align: middle;
  padding-left: .500rem;
}

.newsletter__btn {
  box-sizing: border-box;
  border: 1px solid white;
  background: transparent;
  font-size: 1rem;
  color: white;
  display: inline-block;
  vertical-align: middle;
  height: 36px;
  width: 36px;
}

.newsletter__btn:hover .newsletter__btn__img {
  color: red;
}

#logoshow {
<<<<<<< HEAD
  -webkit-transform: translate(-50%, -50%);
=======
>>>>>>> slider-indicator
  transform: translate(-50%, -50%);
  width: 450px;
  text-align: center;
  z-index: 6000;
  position: fixed;
  top: 50%;
  left: 50%;
}

<<<<<<< HEAD
.close-modal {
  position: absolute;
  z-index: 9999;
  color: white;
  top: 1rem;
  right: 1rem;
  font-size: 1.500rem;
  cursor: pointer;
=======
html, body {
  height: 100%;
}

.dots-names {
  position: absolute;
  width: 690px;
  z-index: 100;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
}

.dots-names span {
  position: absolute;
  font-family: 'Univers LT Std';
  font-size: 0.9rem;
  font-weight: bold;
  line-height: 1.6rem;
  padding: .75rem 0;
  letter-spacing: -1px;
  color: #fff;
}

@media (max-width: 768px) {
  .dots-names {
    width: 262px;
  }
  .dots-names span {
    font-size: 0.5rem;
  }
}

.dots-names span:nth-child(1) {
  left: 55px;
}

.dots-names span:nth-child(2) {
  left: 220px;
}

.dots-names span:nth-child(3) {
  left: 390px;
}

.dots-names span:nth-child(4) {
  left: 540px;
}

@media (max-width: 768px) {
  .dots-names {
    width: 330px;
  }
  .dots-names span {
    font-size: 0.5rem;
    text-transform: uppercase;
  }
  .dots-names span:nth-child(1) {
    left: 51px;
  }
  .dots-names span:nth-child(2) {
    left: 97px;
  }
  .dots-names span:nth-child(3) {
    left: 156px;
  }
  .dots-names span:nth-child(4) {
    left: 220px;
  }
}

.slick-slider {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.slick-dots {
  width: 575px !important;
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  bottom: auto;
  z-index: 1000;
}

@media (max-width: 768px) {
  .slick-dots {
    width: 262px !important;
  }
}

.slick-dots:before {
  content: "";
  height: 10px;
  background: repeating-linear-gradient(-90deg, transparent, transparent 5px, white 7px, white 6px);
  position: absolute;
  top: 8px;
  left: 30px;
  right: 30px;
  z-index: -1;
}

.slick-dots:after {
  content: "";
  height: 1px;
  background: white;
  position: absolute;
  top: 13px;
  left: 30px;
  right: 30px;
  z-index: -2;
  transition: 0s linear;
}

.slick-dots li {
  position: relative;
}

.slick-dots li:not(:last-child):after {
  content: "";
  position: absolute;
  top: 5px;
  left: 14px;
  right: 15px;
  z-index: -1;
  width: 0px;
  height: 10px;
  background: rgba(255, 0, 0, 0.3);
  transition: 0s linear;
}

.slick-dots li:not(:last-child):before {
  width: 0;
  content: "";
  height: 1px;
  background: red;
  position: absolute;
  top: 10px;
  left: 14px;
  right: 15px;
  z-index: -2;
  transition: 0s linear;
}

.slick-dots li.in-progress:not(:last-child):before {
  width: 175px;
  z-index: 0;
  transition: 5s linear;
}

.slick-dots li.in-progress:not(:last-child):after {
  width: 175px;
  z-index: 0;
  transition: 5s linear;
}

@media (max-width: 768px) {
  .slick-dots li.in-progress:not(:last-child):before,
  .slick-dots li.in-progress:not(:last-child):after {
    width: 60px;
  }
}

.slick-dots li:not(:last-child) {
  margin-right: 150px;
}

@media (max-width: 768px) {
  .slick-dots li:not(:last-child) {
    margin-right: 40px;
  }
}

.slick-dots li button {
  border: 1px solid #fff;
  border-radius: 50%;
  margin-right: 100px;
}

.slick-dots li button:before {
  font-size: 14px;
  color: #fff !important;
  line-height: 23px !important;
  opacity: 1 !important;
}

.slick-dots li.in-progress button {
  border: 1px solid red !important;
}

.slick-dots li.in-progress button:before {
  color: red !important;
}

.slick-slider,
.slick-list,
.slick-track {
  height: 100%;
}

.item--1 {
  background: url(../img/slide-1.jpg) no-repeat center !important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.item--2 {
  background: url(../img/slide-2.jpg) no-repeat center !important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.item--3 {
  background: url(../img/slide-3.jpg) no-repeat center !important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.item--4 {
  background: url(../img/slide-4.jpg) no-repeat center !important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.item {
  height: 100%;
}

.title {
  text-align: center;
  margin-top: 20px;
  padding: 10px;
  text-shadow: 2px 2px #000;
  color: #FFF;
}

.slick-slider-info {
  position: absolute;
  z-index: 100;
  left: 50%;
  transform: translateX(-50%);
}

.slick-slider-info svg {
  fill: #fff;
  color: #fff;
  width: 600px;
  height: 150px;
}

.slick-slider-info circle,
.slick-slider-info path {
  fill: currentColor;
  stroke: currentColor;
>>>>>>> slider-indicator
}

.footer {
  background: red;
  box-sizing: border-box;
  font-family: 'Univers LT Std';
  padding: 0.800rem 0;
  z-index: 10;
  position: absolute;
  bottom: 0;
}

.footer__paragraph {
  color: white;
  font-size: 1rem;
  line-height: 1.2;
}

.full-width {
  width: 100%;
}

.content-wrap {
  min-height: calc( 100vh - 80px);
  position: relative;
}

.main {
  position: relative;
}

.phones {
  width: 300px;
  height: auto;
  z-index: 500;
  position: absolute;
  right: 0;
  bottom: 48px;
}

.iphone {
  width: 383px;
  position: absolute;
  bottom: 48px;
  z-index: 450;
  right: 121px;
  position: absolute;
  right: 120px;
  bottom: 48px;
}

.powered {
  transform: translateY(-50%);
  z-index: 9000;
  position: fixed;
  top: 50%;
  right: 0;
}

.logoImg {
  display: none;
  z-index: 6500;
  position: absolute;
  top: 52px;
  right: 210px;
}

.app, .touren, .tickets, .faq, .kontakt {
  z-index: 6001;
  position: relative;
}

#logostart {
<<<<<<< HEAD
  -webkit-transform: translate(-50%, -50%);
=======
>>>>>>> slider-indicator
  transform: translate(-50%, -50%);
  width: 450px;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
<<<<<<< HEAD
=======
  z-index: 5990;
>>>>>>> slider-indicator
}

@media only screen and (max-width: 1366px) {
  .phones {
    width: 230px;
    bottom: 34px;
  }
  .iphone {
    width: 270px;
    bottom: 30px;
  }
  .logoImg {
    right: 120px;
  }
  .sub-page__map-img {
    width: 80%;
  }
}

@media only screen and (max-width: 979px) {
  .phones {
    display: none;
  }
  .iphone {
    display: none;
  }
  .logoImg {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .slide-bar {
    display: none;
  }
}

@media only screen and (max-width: 700px) {
  .main-menu-wrap {
    display: none;
  }
  .col-8 {
    width: 100%;
  }
}

@media only screen and (max-width: 640px) {
  .sub-page__map-img {
    width: 75%;
  }
  .sub-page__paragraph--teaser {
    margin-left: 2.8rem;
    margin-right: 2.8rem;
  }
  .download-app {
    position: relative;
    bottom: -10%;
  }
}
<<<<<<< HEAD
=======

/*# sourceMappingURL=style.css.map */
>>>>>>> slider-indicator
