/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: 'Sorren';
  src: url("../fonts/Sorren-Medium.eot");
  src: url("../fonts/Sorren-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Sorren-Medium.woff2") format("woff2"), url("../fonts/Sorren-Medium.woff") format("woff"), url("../fonts/Sorren-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Univers LT Std';
  src: url("../fonts/UniversLTStd.eot");
  src: url("../fonts/UniversLTStd.eot?#iefix") format("embedded-opentype"), url("../fonts/UniversLTStd.woff2") format("woff2"), url("../fonts/UniversLTStd.woff") format("woff"), url("../fonts/UniversLTStd.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Univers LT Std';
  src: url("../fonts/UniversLTStd-BoldEx.eot");
  src: url("../fonts/UniversLTStd-BoldEx.eot?#iefix") format("embedded-opentype"), url("../fonts/UniversLTStd-BoldEx.woff2") format("woff2"), url("../fonts/UniversLTStd-BoldEx.woff") format("woff"), url("../fonts/UniversLTStd-BoldEx.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Circular Std';
  src: url("../fonts/CircularStd-Black.eot");
  src: url("../fonts/CircularStd-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/CircularStd-Black.woff2") format("woff2"), url("../fonts/CircularStd-Black.woff") format("woff"), url("../fonts/CircularStd-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

.header {
  height: 80px;
  z-index: 30;
  position: relative;
}

.hamburger {
  cursor: pointer;
  height: 1.250rem;
  position: relative;
  top: 1rem;
  left: 0;
  width: 2rem;
}

.hamburger__line {
  background-color: black;
  height: 0.125rem;
  position: absolute;
  transition: all 320ms ease-in;
  width: 100%;
}

.hamburger__line:first-child {
  top: 0%;
}

.hamburger__line:nth-child(2) {
  top: 50%;
}

.hamburger__line:last-child {
  top: 100%;
}

.hamburger--active .hamburger__line:first-child {
  transform: translateY(0.5em) translateX(0) rotate(135deg);
}

.hamburger--active .hamburger__line:nth-child(2) {
  opacity: 0;
}

.hamburger--active .hamburger__line:last-child {
  transform: translateY(-0.75em) translateX(0) rotate(-135deg);
}

.sub-page {
  background-image: url(../img/bg_blur.jpg);
  background-position: center center;
  background-size: cover;
  display: none;
  padding-top: 80px;
  height: calc( 100vh - 80px);
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.sub-page__header {
  display: none;
}

.sub-page__header-2 {
  font-family: 'Univers LT Std';
  font-size: 1.4rem;
  line-height: 1.6rem;
  color: white;
  margin-bottom: 1.375rem;
}

.sub-page__paragraph {
  color: white;
  font-family: 'Univers LT Std';
  font-size: .75rem;
  line-height: 1.2rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.sub-page__paragraph--teaser {
  font-size: .95rem;
  line-height: 1.45rem;
  text-align: center;
  margin-left: 5.6rem;
  margin-right: 5.6rem;
}

.sub-page__paragraph__link {
  color: red;
  text-decoration: none;
}

.sub-page__separator {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 35%;
}

.sub-page__map-img {
  margin-top: 1.75rem;
  width: 100%;
  height: auto;
}

.main-menu-wrap {
  position: relative;
  height: calc( 100vh - 80px);
}

.main-menu {
  font-family: 'Sorren';
  letter-spacing: 10px;
}

.main-menu__link {
  font-size: 3rem;
  text-decoration: none;
  color: white;
}

.main-menu--active {
  color: red;
}

.download-app {
  position: absolute;
  bottom: 10%;
}

.download-app__title {
  font-family: 'Univers LT Std';
  color: white;
  font-size: 1.4rem;
  line-height: 1.6rem;
  margin-bottom: 1.5rem;
}

.download-app__link {
  color: white;
  display: inline-block;
  font-family: 'Univers LT Std';
  font-size: .5rem;
  line-height: .95rem;
  text-decoration: none;
  margin-right: .5rem;
  width: 3rem;
}

.accordion-toggle {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  font-family: 'Univers LT Std';
  font-size: 0.95rem;
  padding: .875rem 0;
}

.accordion-content {
  border-bottom: 1px solid white;
  display: none;
  font-family: 'Univers LT Std';
}

.accordion-content__paragraph {
  color: white;
  font-size: .7rem;
  line-height: 1.2rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.accordion-content__paragraph__link {
  color: red;
  text-decoration: none;
}

.accordion-content.default {
  display: block;
}

.footer {
  background: red;
  box-sizing: border-box;
  font-family: 'Univers LT Std';
  padding: 0.500rem 0;
  position: absolute;
  bottom: 0;
}

.footer__paragraph {
  color: white;
  font-size: 1.2rem;
  line-height: 1.4;
}

body {
  font-size: 16px;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.full-width {
  width: 100%;
}

.container {
  height: calc( 100vh - 80px);
  position: relative;
}

.phones {
  width: 512px;
  height: auto;
  z-index: 20;
  position: absolute;
  right: 0;
  bottom: 0.5rem;
}

.powered {
  transform: translateY(-50%);
  z-index: 9000;
  position: fixed;
  top: 50%;
  right: 0;
}

/*# sourceMappingURL=style.css.map */
