@import '_helpers/_vars',
        '_helpers/_mixin',
        '_vendors/_reset',
        '_moduls/_grid',
        '_moduls/_colors',
        '_moduls/_typography';
body {
    background: #dedede;
    font-size: 16px;
    min-height: 100vh;
    //overflow: hidden;
    @include position(relative);
}
@import '_partials/_header',
        '_partials/_sub-pages',
        '_partials/_menu',
        '_partials/_accordion',
        '_partials/_contact-form',
        '_partials/_footer',
        '_partials/_media-queries';

.full-width {
    width: 100%;
}
.content-wrap {
    min-height: 100vh;
    //height: calc( 100vh - 80px);
    @include position(relative);
}
.phones {
    width: 512px;
    height: auto;
    z-index: 20;
    @include position(absolute, $right: 0, $bottom: 0.500rem);
}
.powered {
    transform: translateY(-50%);
    z-index: 9000;
    @include position(fixed, $top: 50%, $right: 0);
}