@import '_helpers/_vars',
        '_helpers/_mixin',
        '_vendors/_reset',
        '_vendors/_slick',
        '_vendors/_slick-theme',
        '_moduls/_grid',
        '_moduls/_colors',
        '_moduls/_typography';
body {
    background: #dedede;
    font-size: 16px;
    min-height: 100vh;
    //overflow: hidden;
    @include position(relative);
}
@import '_partials/_header',
        '_partials/_sub-pages',
        '_partials/_menu',
        '_partials/_accordion',
        '_partials/_contact-form',
        '_partials/_modal',
        '_partials/_slider',
        '_partials/_footer';

.full-width {
    width: 100%;
}
.content-wrap {
    //min-height: 100vh;
    min-height: calc( 100vh - 80px);
    @include position(relative);
}
.main {
    @include position(relative);
}
.phones {    
    width: 300px;
    height: auto;
    z-index: 500;
    @include position(absolute, $right:0, $bottom: 48px);
}
.iphone {
    width: 383px;
    position: absolute;
    bottom: 48px;
    z-index: 450;
    right: 121px;
    @include position(absolute, $right: 120px, $bottom: 48px);
}
.powered {
    transform: translateY(-50%);
    z-index: 9000;
    @include position(fixed, $top: 50%, $right: 0);
}
.logoImg {
    display: none;
    z-index: 6500;
    @include position(absolute, $right: 210px, $top: 52px);
}
.app, .touren, .tickets, .faq, .kontakt {
    z-index: 6001;
    @include position(relative);
}
#logostart {
-webkit-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
width: 450px;
text-align: center;
position: fixed;
top: 50%;
left: 50%;
z-index: 5900;
}
@import '_partials/_media-queries';