@media only screen and (max-width: $laptop) {
    .phones {
        width: 230px;
        bottom: 34px;
    }
    .iphone {
        width: 270px;
        bottom: 30px;
    }
    .logoImg {
        right: 120px;
    }
    .sub-page {
        &__map-img {
            width: 80%;
        }
    }
}
@media only screen and (max-width:979px) {
    .phones {
        display: none;
    }
    .iphone {
        display: none;
    }
    .logoImg {
        display: none;
    }
}
@media only screen and (max-width:860px) {}
@media only screen and (max-width: $tablet) {
    .slide-bar {
        display: none;
    }
}
@media only screen and (max-width: 700px) {
    
      .main-menu-wrap {display:none;}
      .col-8 {
        width: 100%;
    }
    
    }
@media only screen and (max-width:640px) {
    .sub-page {
        &__map-img {
            width: 75%;
        }
        &__paragraph--teaser {
            margin-left: 2.8rem;
            margin-right: 2.8rem;
        }
    }
    .download-app {
        position: relative;
        bottom: -10%;
    }
    .footer {
        //@include position(static);
    }
}
@media only screen and (max-width: $small) {
    
}
@media only screen and (max-width: $extraSmall) {}
