.accordion-toggle {
    border-top: 1px solid $white;
    border-bottom: 1px solid $white;    
    box-sizing: border-box;
    color: $white;
    cursor: pointer;
    font-family: 'Univers LT Std';
    font-size: 0.95rem;
    padding: .875rem 0;
    &:after {
        content: '';
        clear: both;
        display: table;
    }
}
.accordion-content {
    border-bottom: 1px solid $white;
    display: none;
    font-family: 'Univers LT Std';
    &__paragraph {
        color: $white;
        font-size: .7rem;
        line-height: 1.2rem;
        margin-top: 1.25rem;
        margin-bottom: 1.25rem;
        &__link {
            color: $red;
            text-decoration: none;
        }
    }
}
.accordion-list {
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
}
.accordion-item {
    color: $white;
    font-size: .7rem;
    line-height: 1.2rem;
    margin-top: .75rem;
    margin-bottom: .75rem;
}
.accordion-content.default {display: block;}
.accordion {
    &__question {
        display: inline-block;
        width: 80%;
    }
    &__img {
        float: right;
    }
}