.footer {
    background: $red;
    box-sizing: border-box;
    font-family: 'Univers LT Std';
    padding: 0.800rem 0;
    @include position(absolute, $bottom: 0);
    &__paragraph {
        color: $white;
        font-size: 1rem;
        line-height: 1.2;
    }
}