.main-menu-wrap {
    @include position(relative);
    height: calc( 100vh - 80px );
}
.main-menu {
    font-family: 'Sorren';
    letter-spacing: 10px;
    &__list {}
    &__item {
        
    }
    &__link {
        font-size: 3rem;
        text-decoration: none;
        color: $white;
        transition: none;
        &:hover, &:focus {
           //
        }
    }
    &--active {
        color: $red;
    }
}
.download-app {
    @include position(absolute);
    &__title {
        font-family: 'Univers LT Std';
        color: $white;
        font-size: 1.4rem;
        line-height: 1.6rem;
        margin-top: 1rem;
        margin-bottom: .500rem;
    }
    &__link {
        display: inline-block;
        font-family: 'Univers LT Std';
        line-height: .95rem;
        text-decoration: none;
        margin-right: .5rem;
        & > span {
            color: $white;
            font-size: .75rem;
            display: inline-block;
            vertical-align: middle;
        }
    }
    &__img {
        vertical-align: middle;
        margin-right: .5rem;
    }
    &__info-link {
        font-family: 'Univers LT Std';
        line-height: .95rem;
        color: $red;
    }
}