.modal-f {
    background-color: rgba($black, 0.7);
    box-sizing: border-box;
    display: block;
    font-family: 'Univers LT Std';
    padding: 2rem 2rem;
    transform: translate(-50%, -50%);
    width: 450px;
    text-align: center;
    z-index: 6000;
    @include position(fixed, $top: 50%, $left: 50%);
    &__header {
        border-top: 1px solid $red;
        border-bottom: 1px solid $red;
        color: $red;
        font-size: 1.5rem;
        font-weight: bold;
        line-height: 1.6rem;
        text-align: center;
        padding: .75rem 0;
    }
    &__paragraph {
        color: $white;
        font-size: 1rem;
        line-height: 1.4rem;
        padding: 1rem 0;
        &--link {
            padding: 1.5rem 0;
        }
    }
    &__link {
        color: $white;
        text-decoration: underline;
        transition: none;
        font-size: 1.2rem;
        &:focus, &:hover {
            color: $white;
        }
    }
}
.newsletter-form-group {
    font-size: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
}
.newsletter {
    &__input {
        flex: 1;
        box-sizing:border-box;
        border:1px solid $white;
        background: transparent;
        font-size: 1rem;
        color: $white;
        //display: inline-block;
        height: 36px;
        vertical-align: middle;
        padding-left:.500rem;
    }
    &__btn {
        box-sizing:border-box;
        border:1px solid $white;
        background: transparent;
        font-size: 1rem;
        color: $white;
        display: inline-block;
        vertical-align: middle;
        height: 36px;
        width: 36px;
    }
}