.modal {
    background-color: rgba($black, 0.5);
    box-sizing: border-box;
    display: block;
    transform: translate(-50% -50%);
    height: 330px;
    width: 400px;
    @include position(absolute, $top: 50%, $left: 50%);
}