html,body {
    height: 100%;
}




.slick-slider {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.slick-slider,
.slick-list,
.slick-track {
    height: 100%;
}
.item--1 {
    background: url(../img/slide-1.jpg) no-repeat center !important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.item--2 {
    background: url(../img/slide-2.jpg) no-repeat center !important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.item--3 {
    background: url(../img/slide-3.jpg) no-repeat center !important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.item--4 {
    background: url(../img/slide-4.jpg) no-repeat center !important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.item {
     height: 100%;
}

.title {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    text-shadow: 2px 2px #000;
    color: #FFF;
}

#loader {
	position: absolute;
	width: 550px;
	height: 55px;
	z-index: 999;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
}

.bCircle {
	width: 26px;
	height: 26px;
	border: 3px solid white;
	border-radius: 100%;
	cursor: pointer;
	text-align: center;
	float: left;
	
}

.sCircle {
	width: 16px;
	height: 16px;
	border-radius: 100%;
	background-color: white;
	margin: 2px auto;
}

.bCircle:hover {
	border: 3px solid red;
	transition: 0.5s;
}

.bCircle:hover .sCircle {
	background-color: red;
	transition: 0.5s;
}

.bCircle2 {
	border: 3px solid red;
	transition: 0.5s;
}

.sCircle2 {
	background-color: red;
	transition: 0.5s;
}

#line1 {
	width: 130px;
	height: 16px;
	float: left;
}

#line2 {
	width: 130px;
	height: 16px;
	float: left;
}

#line3 {
	width: 130px;
	height: 16px;
	float: left;
}

.bLeft {
	width: 6px;
	height: 16px;
	border-left:2px solid white;
	float: left;
	margin-top: 6px;
}

.bLeft:first-child {
   border: none;
}

.bBottom {
	width: 6px;
	height: 1px;
	border-bottom: 2px solid white;
	margin-top: 6px;
	position: absolute;
}

.red {
	border-left:2px solid red;
	transition: 0.5s;
}

.red2 {
	border-bottom: 2px solid red;
	transition: 1s;
}

#slider {
	width: 100%;
	height: 100%;
	z-index: 1;
	position: absolute;
	top: 0;
	left: 0;
    overflow: hidden;
}

.img {
	display: none;
	position: absolute;
	width: 100%;
}

.img img {
	width: 100%;
	height: 100vh;
	z-index: 2;
	display: block;
}

.img h2 {
	width: auto;
	padding: 10px 20px;
	background-color: rgba(0,0,0,0.5);
	text-align: center;
	color: white;
	position: absolute;
	top: 100px;
	margin-left: 160px;
	opacity: 0;
	-webkit-animation-name: title; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
    animation-name: title;
    animation-duration: 2s;
    -webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
    animation-fill-mode: forwards;
    -webkit-animation-timing-function: linear; /* Safari 4.0 - 8.0 */
    animation-timing-function: linear;
    font-family: 'Univers LT Std';
    font-size: 1rem !important;
    font-weight: bold;
    line-height: 2.6rem;
    letter-spacing: -1px;
    color: #fff;
}

@keyframes title {
    0%   {margin-top: 0; opacity: 0;}
    100% {margin-top: 60px; opacity: 1;}
}

#stossTxt {
	color: white;
	margin-top: 5px;
	margin-left: -10px;
	font-size: 20px;
}

#schwendeTxt {
	color: white;
	margin-top: 5px;
	margin-left: -26px;
	font-size: 20px;
}

#notkerseggTxt {
	color: white;
	margin-top: 5px;
	margin-left: -32px;
	font-size: 20px;
}

#schwarzerBarenTxt {
	color: white;
	margin-top: 5px;
	margin-left: -60px;
	font-size: 20px;
}

#stoss:hover > #stossTxt, #schwende:hover > #schwendeTxt, #notkersegg:hover > #notkerseggTxt, #schwarzerBaren:hover > #schwarzerBarenTxt {
	color: red;
	transition: 0.5s;
}

.redTxt {
	color: red !important;
}


@media screen and (max-width: 740px ) {
  #loader {
      top: 108px;
  	-ms-transform: translateX(-50%) scale(0.7,0.7); /* IE 9 */
    -webkit-transform: translateX(-50%) scale(0.7,0.7); /* Safari */
    transform: translateX(-50%) scale(0.7,0.7); /* Standard syntax */
  }

  .img h2 {
	margin-left: 20px;
	font-size: 16px;
  }
}

@media screen and (max-width: 420px ) {
    #loader {
        -ms-transform: translateX(-50%) scale(0.55,0.55); /* IE 9 */
        -webkit-transform: translateX(-50%) scale(0.55,0.55); /* Safari */
        transform: translateX(-50%) scale(0.55,0.55); /* Standard syntax */
    }
}

.bCircle span {
    font-family: 'Univers LT Std';
    font-size: 0.9rem !important;
    font-weight: bold;
    line-height: 2.6rem;
    padding: .75rem 0; 
    letter-spacing: -1px;
    color: #fff;
}
