.sub-page {
    background-image: url(../img/bg_blur.jpg);
    background-position: center center;
    background-size: cover;
    display: none;
    padding-top: 80px;
    height: calc( 100vh - 80px);
    width: 100%;
    @include position(absolute, $top: 0, $left: 0);
    &__header {
        display: none;
    }
    &__header-2 {
        font-family: 'Univers LT Std';
        font-size: 1.4rem;
        line-height: 1.6rem;
        color: $white;
        margin-bottom: 1.375rem;
    }
    &__paragraph {
        color: $white;
        font-family: 'Univers LT Std';
        font-size: .75rem;
        line-height: 1.2rem;
        margin-top: 1.25rem;
        margin-bottom: 1.25rem;
        &--teaser {
            font-size: .95rem;
            line-height: 1.45rem;
            text-align: center;
            margin-left: 5.6rem;
            margin-right: 5.6rem;
        }
        &__link {
            color: $red;
            text-decoration: none;
        }
    }
    &__separator {
        margin-top: 20px;
        margin-bottom: 20px;
        width: 35%;
    }
    &__map-img {
        margin-top: 1.75rem;
        width: 100%;
        height: auto;
    }
}